
.form {
  border-radius: 5px;
  width: 25vw;
  height: 60vh;
  border: 2px solid rgb(213, 191, 191);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  scale: 1;
  transition: 0.3s all;

  @media (max-width: 768px) {
    width: 85%;
    height: auto;
    height: 50vh;
    max-width: 300px;
    scale: 0.9;
    transition: 0.3s;
  }
}

.form:hover {
  scale: 1.1;
  border-radius: 10px;
  box-shadow: 0 0 10px #d3ca18;
  z-index: 1;
  text-transform: uppercase;
  color: #dbace5;
  font-size: 22px;
  margin-top: 10px;
  border-color: #7be8e8; 
}
